/* Page structure rules */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

#wrapper {
  width: 960px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
}
#main {
  width: 750px;
}

#formdiv {
  display: block;
  text-align: center;
}

/* Form design rules */
form {
  display: inline-block;
  width: 600px;
  background-color: aliceblue;
}

#submitbutton {
  border: 3px;
  border-style: outset;
  background-color: mediumaquamarine;
}

/* Font rules */
h1, label {
  color: navy;
  font-family: Verdana, sans-serif;
}

h1 {
  font-weight: 550px;
  font-size: 34px;
  float: left;
}