#wrapper{
  width: 960px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid black;
  padding: 0px;
}
#main{
  width: 750px;
}